.background{
 --background: url(..\..\..\assets\triangle3.png) 0 0/100% 100% no-repeat;
 height: 50%;
 width: 100%;
}
ion-header{
   height: 17%;
   
}

.mainHeader{
    height: 50%;
}
.userIcon{
    position:relative;
    margin-right:0%;
    z-index: 2;
}
.biggerB{
   width:4em;
   height: 4em;
   
   
}
.backArrow{
    transform: scale(2);  
    margin-left: 3%;
    margin-bottom: 3%;
    color: black;
    padding:10px;
    
}
.userIcon{
    margin-right: 100%;
    width:10%;
}
.listToolbar{
   height: 50%;
    --background: #FF9E42 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listTitle{
font-size: 24px;
height: 100%;

}
.listOptions{
    color:black;
    --background:white;
    border-radius:30%;
    margin-right: 5%;
    
}
.addButton{
    --border-color: rgb(0, 0, 0);
    --border-width:2px;
    border-radius:10%;
    font-size: 24px;
    font-weight: bolder;
    --background: white;
    --color:black;
    --color-activated: #FF9E42;
    --ripple-color:#FF9E42;
    --background-focused: #F7F7FC;
    --background-activated:#F7F7FC;
    width:100%;
    height: 100%;
    min-height: 50px;
}
.unCheck{
    height: 100%;
    min-height: 50px;
    --background: #82D5FF;
    color:black;
    font-weight: bolder;
    width:100%;
    --color-activated: #154173;
}
.check{
    width:100%;
    height: 100%;
    min-height: 50px;
    --border-color: rgb(0, 0, 0);
    
}
.done{
    position: absolute;
   transform: scale(1.5);
   color:rgb(105, 105, 105);
   --color-activated: #FF9E42;
}

.delete{
    width:100%;
    height: 100%;
    min-height: 50px;
    --border-color: #FF9E42;
}
.dIcon{
    position: absolute;
    transform: scale(1.5);
    color:#FF9E42;
    --color-activated: black;
}
.writeArea{
    --border-color: rgb(0, 0, 0);
    --border-width:2px;
    border-radius:10%;
    --background: white;
    --color:black;
    --color-activated: #FF9E42;
    --ripple-color:#FF9E42;
    --background-focused: #F7F7FC;
    --background-activated:#F7F7FC;
    width:100%;
    height: 100%;
    min-height: 50px;
   

}
ion-textarea{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    width:100%;
    height: 90%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    --background:#F7F7FC;
}
ion-footer{
    height:10%;
}
.fImg{
--background: url(..\..\..\assets\footer1.png) 0 0/100% 100% no-repeat;
 height: 100%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.fLogo{
    width:12%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    position: relative;
   
}
