.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-left: 26%;
}

.background{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}