.border {
    border: 1px solid;
    color: #FF9E42;
    text-align: center;
    align-items: center;
    font-style: Roboto;
    width: 261px;
    height: 40px;
    margin:auto;
}

#margin-email {
    margin-top: 60px;
}

#margin-password {
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-button-top {
    --background: #82D5FF;
    font-style: Roboto;
    --color: black;
    width: 182px;
    height: 48px;
    border-radius: 100%;
    align-items: center;
    margin-top: -10px;
}

.login-button-bottom {
    --background: #82D5FF;
    font-style: Roboto;
    --color: black;
    width: 182px;
    height: 48px;
    border-radius: 100%;
    align-items: center;
    margin-top: 0px;
}

.round-button {
  --background: #FF9E42;
  width: 53px;
  height: 53px;
  border-radius: 100% !important;
  font-style: Roboto;
  --color: black;
  margin-bottom: 109;
}

.logo {
    margin-top: 64px;
}