<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
  
    <ion-item id="margin-email" class="border">
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>
    <ion-item id="margin-password" class="border">
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
  </ion-col>
<!-- </ion-row> -->
  <!-- <ion-row class="ion-align-items-center"> -->
    <ion-col size="12" class="ion-text-center">
      <ion-button class="login-button" shape="round">Login</ion-button>
    </ion-col>
  <!-- </ion-row>   -->
    <!-- <ion-row class="ion-align-items-center"> -->
      <ion-col size="12" class="ion-text-center">
    <ion-button class="login-button" shape="round">Sign up</ion-button> 
  </ion-col>
  <ion-col size="12" class="ion-text-center">
    <ion-text>
      <p>Or login with:</p>
    </ion-text>
  </ion-col>
  <ion-col size="4" class="ion-text-center">
    <ion-button class="round-button" shape="round">F</ion-button>
  </ion-col>
  <ion-col size="4" class="ion-text-center">
    <ion-button class="round-button" shape="round">G</ion-button>
  </ion-col>
  <ion-col size="4" class="ion-text-center">
    <ion-button class="round-button" shape="round">E</ion-button>
  </ion-col>
  </ion-row>
 
  
    
</ion-grid>

</ion-content>
