

.button-listname {
    border: 2px solid;
    border-color: black;
    width: 290px;
    height: 103px;
    border-radius: 20px;
    margin: auto;
    font-style: Roboto;
    --color: black;
    font-size: 30px;
    
    border-color: #154173;
}

#addlist {
    border: 2px solid;
    border-color: black;
    width: 103px;
    height: 103px;
    border-radius: 20px;
    margin: auto;
    font-style: Roboto;
    --color: #154173;
    font-size: 50px;
    border-color: #FF9E42;
    
}

ion-reorder {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

